<section class="h-full flex items-center justify-center px-4 bg-gray-100">
  <mat-card class="w-full sm:max-w-sm">
    <mat-card-content>
      <div class="mb-5 flex flex-col items-center">
        <app-icon [width]="50" [height]="60" />
        <h2 class="text-2xl font-bold">BookHive Admin</h2>
      </div>
      <form>
        <mat-form-field class="w-full">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Admin username" />
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Admin password" />
        </mat-form-field>
        <div class="max-w-xs mx-auto">
          <button mat-flat-button color="primary" class="w-full">Login</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</section>
