<div class="w-full bg-gray-100 h-full">
  <div class="flex flex-col gap-2 items-center p-5">
    <img src="/assets/admin.svg" alt="admin-icon" class="size-16 block" />
    <h3 class="text-xl md:text-2xl font-semibold">BookHive Admin</h3>
  </div>
  <div class="flex-1 px-3">
    <ng-container *ngFor="let link of navLinks">
      <button
        [routerLink]="link.route"
        class="nav-item"
        [ngClass]="{ '!bg-indigo-500 !text-white': isLinkActive(link.route) }"
      >
        <fa-icon [icon]="link.icon" />
        {{ link.label }}
      </button>
    </ng-container>
    <button class="nav-item">
      <fa-icon [icon]="faArrowRightFromBracket"></fa-icon>
      Logout
    </button>
  </div>
</div>
