@tailwind base;
@tailwind components;
@tailwind utilities;
@import "ngx-toastr/toastr";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.nav-item {
  @apply relative w-full flex items-center py-2 gap-2 text-lg px-3 my-1 font-medium rounded-md transition-colors focus:outline-none hover:bg-gray-300 text-gray-600;
}

::-webkit-scrollbar {
  width: 5px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #5b5a5a;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #918d8d;
  border-radius: 10px;
}

.box-shadow {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
